BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never

BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: None

InsertBraces: True

IndentPPDirectives: AfterHash
PPIndentWidth: 2

# treat the RESULT macro as a typename to prevent unwanted line breaks
TypenameMacros: [RESULT]
